### Add Holiday
In this file, we add the is_holiday column based on the 'clean_data_50weeks.xlsx' file.

In [3]:
import pandas as pd
# import matplotlib.pyplot as plt
import numpy as np
import copy
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

"Back to School Season" : 2021-06-21 to 2021-09-27; 2022-06-27 to 2022-09-26

"Christmas Season": 2021-12-27; 2022-12-26

"Cyber Monday" : 2021-11-29; 2022-11-28

In [20]:
data = pd.read_excel("/data/p_dsi/teams2023/team1/clean_data_50weeks.xlsx", index_col=0).drop(["Year", "Month"], axis = 1)
data.head()

,phone model,phone size,phone color,claim,weeks_monday,brand,model,generation,week_of_month,month,year,release,weeks_since_release
Unnamed: 0,,,,,,,,,,,,,
3059,apple iphone 12,128gb,black,14,2021-08-02,apple,iphone,12,1,8,2021,2020-11-13,37.428571
3060,apple iphone 12,128gb,black,43,2021-08-09,apple,iphone,12,2,8,2021,2020-11-13,38.428571
3061,apple iphone 12,128gb,black,57,2021-08-16,apple,iphone,12,3,8,2021,2020-11-13,39.428571
3062,apple iphone 12,128gb,black,65,2021-08-23,apple,iphone,12,4,8,2021,2020-11-13,40.428571
3063,apple iphone 12,128gb,black,59,2021-08-30,apple,iphone,12,5,8,2021,2020-11-13,41.428571

### use the package

In [10]:
# creating US holidays
cal = calendar()
start, end = min(data['weeks_monday']), max(data['weeks_monday'])
holidays = cal.holidays(start=start, end=end).to_pydatetime()
holidays = [x.date() for x in holidays]
holidays

# check if the date is a holiday
data['is_holiday'] = data['weeks_monday'].apply(lambda x: 1 if x in holidays else 0)

test = data.copy()
test["phone model"] = test["phone model"].apply(lambda x: x.replace("apple iphone ", ""))

/tmp/ipykernel_143369/2175679139.py:9: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  data['is_holiday'] = data['weeks_monday'].apply(lambda x: 1 if x in holidays else 0)

In [16]:
data['is_holiday'].value_counts()

0    1030
1     226
Name: is_holiday, dtype: int64

In [17]:
data.to_excel('/data/p_dsi/teams2023/team1/iphone_data.xlsx', index=False)